.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 5px 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	background: transparent;

	font-family: var(--font-family);

	font-size: 14px;
	font-weight: 400;
}

.dark {
	color: white;
	border: 1px solid white;
}

.ghost {
	border: 1px solid var(--basic);
}

.dark svg {
	fill: white;
}

.dark:hover,
.ghost:hover,
.ghost:hover svg,
.dark:hover svg {
	color: var(--light-blue);
	border-color: var(--light-blue);
	fill: var(--light-blue);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transition: all 0.2s;
	transform: rotate(90deg);
}
