html,
body {
	margin: 0;
	padding: 0;

	color: var(--basic);
	background: var(--primary);

	font-family: Oswald, sans-serif;
	font-size: 18px;
	font-weight: 200;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--basic: #181818;
	--light-blue: #0004AF;
	--dark-blue: #00024D;
	--gold: #FBE300;
	--primary: #E9E9E9;
	--font-family: "Oswald", sans-serif;
}
